$standard-font-size: 20px;
$blue1: #DFE5F7;
$blue2: #8295A0;
$blue3: #738897;
$blue4: #608093;
$blue5: #517285;
//$blue6: #
$blue6: #37454F;
$blue7: #26333A;
$blue8: #171F24;



#about {
  //margin: auto;
  //width: 600px;

  background-color: $blue8;

  font-size: $standard-font-size;

  #logo {
    background-color: $blue8;
    width: 100%;
    height: 100%;


    #dots {
      max-width: 766px;
      max-height: 272px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 0;

      .dot {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        position: absolute;
        background-color: $blue1;
        &:hover {
          background-color: blue;
        }

      }
      #dot-sf {
        top: 76.2%;
        left: 7.9%;
      }
      #dot-ott {
        top: 59.2%;
        left: 35.9%;
      }
      #dot-ham {
        top: 63.8%;
        left: 36.2%;
      }
      #dot-nyc {
        top: 70%;
        left: 36.9%;
      }
      #dot-sthlm {
        top: 20%;
        left: 92.3%;
      }
      #dot-str {
        top: 51.5%;
        left: 86.1%;
      }
      #dot-gen {
        top: 57.5%;
        left: 85.3%;
      }
    }

    img {
      margin: 0 auto;
    }
  }

  #logo-location {
    height: 100px;
    color: $blue2;
    #hover-location {
      display: none;
    }
  }

  a {
    color: $blue1;
    font-weight: bold;

    &:link {
      text-decoration: none;
    }
    &:hover {
      color: #ea8602;
    }
  }

  #about-me {
    //background-color: $blue8;
    color: $blue2;
    //color: #DFE5F7;

  }

  #about-anything-else {
    color: $blue8;
    background-color: $blue1;

    a {
      //color: #F7F7F7;
      font-weight: bold;

      &:hover {
        color: #ea8602;
      }
    }
  }

  @media (max-width: 816px) {
    #logo > #dots {
      //#dots {
        margin: 0 15px;

        .dot {
          min-width: 1px;
          min-height: 1px;
          width: 0.78%;
          height: 2.2%;
        }

        //padding: 0 15px;
        //width: 100%;
        //border-color: green;
      //}
    }
  }

}