$standard-font-size: 20px;
$blue1: #DFE5F7;
$blue4: #608093;
$blue5: #517285;
$blue6: #37454F;
$blue8: #171F24;

#contact {
  font-family: 'Droid Sans', sans-serif;
  font-size: $standard-font-size;
  color: $blue4;

  #contact-block {
    padding-top: 40px;
    padding-bottom: 40px;

    #website-list {
      float: right;
      position: relative;
      left: -50%;
      text-align: left;

      ul {
        //display: block;
        position: relative;
        left: 50%;
        list-style: none;
        margin: auto;
        font-style: italic;
        //padding-left: 40%;
      }
    }

    a {
      color: $blue4;
      font-weight: bold;

      &:link {
        text-decoration: none;
      }
      &:hover {
        color: #ea8602;
      }
    }
  }
}