$standard-font-size: 20px;
$blue1: #DFE5F7;

#contact {
  font-family: 'Droid Sans', sans-serif;
  font-size: $standard-font-size;
  color: $blue1;

  #contact-block {
    width: 66%;

    #website-list {
      float: right;
      position: relative;
      left: -50%;
      text-align: left;

      ul {
        //display: block;
        position: relative;
        left: 50%;
        list-style: none;
        margin: auto;
        //padding-left: 40%;
      }
    }

    a {
      color: $blue1;
      font-weight: bold;

      &:link {
        text-decoration: none;
      }
      &:hover {
        color: #ea8602;
      }
    }
  }
}