#home {

  #image {
    //margin: auto 0;
    //vertical-align: middle;

    #logo {
      height: 100%;
      width: 100%;

      img {
        margin: 0 auto;
        z-index: 2;
      }

      #sub-image {
        position: absolute;
        top: 20%;
        left: 50%;
        width: 43.08%;
        height: 66.91%;
        max-width: 330px;
        max-height: 115px;
        z-index: -1;
        background-size: contain;
      }
    }
  }

  #message {
    height: 10%;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

    p {
      height: 100%;
      line-height: 50%;
    }
  }
}
