@import "_formats";

#work {
  position: relative;
  font-family: $font-family;
  font-size: $standard-font-size;
  color: $blue1;
  margin-bottom: 40px;
  height: 100%;


  .row {
    margin-bottom: 40px;
  }

  a {
    color: $blue5;
  }

  .lined {
    border-left: 2px solid $blue2;
    border-right: 2px solid $blue2;
  }

  .date {
    text-align: right;
  }

  .title {
    font-size: $large-font-size;
    border-bottom: 2px solid $blue2;
  }

  #work-intro {
    padding-top: 150px;
    padding-bottom: 100px;

    #work-intro-photo {
      width: 30%;
      max-width: 216px;
      max-height: 216px;
      float: left;
    }
  }

  .container-fluid {
    padding: 0;
    height: 194px;
    margin-bottom: 50px;
  }

  #skills-box {
    padding-right: 5px;
    width: 10%;
    min-width: 90px;
    font-size: 13px;
    text-align: right;
    float: right;
    //border-left: 1px $blue2 solid;

    ul {
      padding: 0;
      width: 100%;
      line-height: 14px;
      list-style-type: none;

      li {
        padding-left: 2px;
        opacity: 0.2;
        -webkit-transition: opacity 1s;
        transition: opacity 1s;

        a {
          padding: 0;
          pointer-events: none;
          cursor: default;
          color: $blue1;
        }

        &.active {
          opacity: 1;
          -webkit-transition: opacity 1s;
          transition: opacity 1s;
        }
      }
    }

    &.affix-top, &.affix-bottom {
      opacity: 0.2;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
    }

    &.affix {
      position: fixed;
      right: 0;
      top: 40%;
      z-index: 10;
      -webkit-transition: opacity 1s;
      transition: opacity 1s;
    }

    &.put-middle {
      top: 40%;
    }
  }

  #work-experience {
    font-size: 15px;

    li.media {
      position: relative;
      margin-bottom: 200px;
      margin-top: 0;
      min-height: 100%;
      height: 100%;
      width: 100%;

      .work-experience-image {
        //position: static;
        float: left;
        min-height: 100px;
        min-width: 120px;
        margin-right: 20px;
        //margin: 0 auto;
        //height: 100%;
      }

      img.media-object {
        //position: absolute;
        //top: 40%;
      }

      .media-body {

        ul li {

        }
      }
    }
  }

  #other-than-that {
    margin-bottom: 80px;
    font-style: italic;
  }

  #flg {
    a {

    }
  }

  #bonus {
    font-size: $small-font-size;
    margin-bottom: 100px;
  }

  @media (min-width: 992px) {
    #work-intro {
      #work-intro-text {
        margin-left: 231px;
      }
    }
  }
}