@import "_formats";

#work {
  min-height: 100;
  color: $blue1;
  //width: 100%;
  //width:
  //background-color: white;

  .date {
    text-align: right;
  }

  .title {
    font-size: large;
    border-bottom: 2px solid $blue2;
  }

}