#footer {
  width: 100%;
  //margin-bottom: 0;
  margin-top: -30px;
  height: 30px;
  position: relative;
  clear: both;

  .container {
    background-color: #171E23;
    margin: auto;
    width: 40%;
    height: 30px;
    color: #F7F7F7;
    text-align: center;
    border-radius: 10px 10px 0 0;
  }

  p {
    margin-bottom: 0;
  }

  a {
    color: #F7F7F7;

    &:link {
      text-decoration: none;
    }
  }




}