html {
  height: 100%;
}

body {
  background-color: #171f24;
  color: #DFE5F7;
  height: 100%;
  width: 100%;
  font-family: "Arial", Monaco, monospace;
}

//.footer {
//  position: relative;
//  margin-top: -50px;
//  height: 50px;
//  clear: both;
//}

.wrap {
  min-height: 100%;
  //padding-bottom: 50px;
}