@import "_formats";

html {
  height: 100%;
}

body {
  background-color: $blue8;
  color: $blue1;
  height: 100%;
  width: 100%;
  font-family: $font-family;
  //overflow: hidden;
}

.wrap {
  min-height: 100%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-70%);
  width: 100%;
}

.hide-overflow {
  overflow: hidden;
}