#navbar {
  //background-color: #292a2b;
  background-color: #171E23;
  border: 0;
  width: 100%;
  margin-top: 0;

  #navbar-pages {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .navbar-logo {
    float: left;
  }

  a {
    color: #DFE5F7;

    padding: 10px 40px 4px 40px;

    &:link {
      text-decoration: none;
    }
    &:hover {
      color: #ea8602;
    }
  }

  .navbar-brand {
    padding: 0;
    margin: 0;
  }


}




