#navbar {
  //background-color: #292a2b;
  background-color: #171F24;
  border: 0;
  width: 100%;
  margin-top: 0;

  #navbar-pages {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .navbar-logo {
    float: left;
  }

  .navbar-box {
    padding: 25px 1px 4px 1px;
  }

  a {
    padding-top: 0;
    padding-bottom: 0;
    color: #DFE5F7;
    //color: #8295A0;
    //color: #738897;

    &:link {
      text-decoration: none;
    }
    &:hover {
      //color: #ea8602;
      color: #517285;
    }
  }

  .navbar-brand {
    padding: 0;
    margin: 0;
  }

  .navbar-nav > li {
    float: left;
  }
}




